@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">書籍一覧</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>出版年</th>                
                <th>返却予定日</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.PublishedYear</td>
                </tr>
            }
        </tbody>
    </table>
</div>
