
@{
    ViewData["Title"] = "ログイン";
}

<h1>ログインを行ってください</h1>

<!-- ユーザーからEmailとPassWordの入力を受け付ける -->
<form method="post">
    <label class="form-label">Email</label>
    <input type="email" name="Email" class="form-control" required />
    <label class="form-label">PassWord</label>
    <input type="password" name="PassWord" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-primary">ログイン</button>
</form>
