@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-success" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">こんにちは @User.Identity?.Name さん！</a>
        </li>
        <li class="nav-item">
            <div>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-ounline-success btn-link text-dark">
                        ログアウト
                    </button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                    <botton type="button" class="btn btn-outline-success">ユーザー登録</botton>
                </a>
            </div>
        </li>
        <li>

        </li>
        <li class="nav-item">
            <div>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                    <botton type="button" class="btn btn-outline-success">ログイン</botton>
                </a>
            </div>
        </li>
    }
</ul>
