@model BookManagement.Models.Book

@{
    ViewData["Title"] = "書籍詳細";
}

<h1>書籍詳細</h1>

<div>
    <h4>書籍</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            タイトル
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            貸出日
        </dt>
        @if (Model.BorrowedStatus == false)
        {
            <dd class="col-sm-10">
                <p>-</p>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BorrowedDate)
            </dd>
        }
        <dt class="col-sm-2">
            返却予定日
        </dt>
        @if (Model.BorrowedStatus == false)
        {
            <dd class="col-sm-10">
                <p>-</p>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>
        }
        <dt class="col-sm-2">
            出版年
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedYear)年
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">戻る</a>
    </form>
</div>
